.headerContainer {
  height: max-content;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  position: sticky;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;  
}

@media screen and (max-width: 800px) {
  .title {
   font-size: 29px;
  }
}

.button {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  text-decoration: underline solid transparent;
  transition: 0.45s;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.button:hover {
  text-decoration: underline solid white;
}
